/* fuente externa */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Nunito:wght@700;800&display=swap');

/* reseteo */
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 400;
    line-height: 1.5;
}

body {
    background-color: #696773;
}

header {
    background-color: #363946;
    height: 130px;
    background: linear-gradient(to bottom, #363946 90%, #1f1f1f);
}

footer {
    background-color: #363946;
    height: 110px;
    background: linear-gradient(to top, #363946 90%, #69677300);
    position: relative;
    bottom: 0;
    width: 100%;
}

.headerClase {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.imagenLogo {
    width: 200px;
    display: block;
}

.icono {
    height: 100%;
}

.listaMenu {
    display: flex;
    gap: 25px;
}

.headerMenu {
    list-style: none;
    display: inline;
}

.listaMenu li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.listaMenu:hover li a {
    color: #ffb26b;
    border-bottom: 1px solid #ffb26b;
    transition: 0.5s ease-in-out;
}

.listaMenu:hover li a:not(:hover) {
    color: white;
    opacity: 0.7;
    filter: blur(0.5px);
    background: none;
    border-bottom: none;

}

.navbar {
    text-align: right;
}

.container-fluid {
    flex-direction: row-reverse;
}

.bg-body-tertiary {
    background: #ffffff00 !important;
    backdrop-filter: blur(5px);
    border: 0px;
}

.mainIntro {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: black;
}

.textoBanner h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    color: white;
    width: 80%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textoCita {
    font-size: 8vw;
    color: white;
    width: 60%;
    position: absolute;
    text-align: right;
    font-style: italic;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.claseIcono {
    height: 100%;
}

.cuadroImagen {
    display: flex;
    height: 500px;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.imagenBanner {
    filter: opacity(45%);
    width: 100%;
} 

.acordeon,
.transparencia {
    width: 70%;
    margin: auto;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    background: #ffffff11;
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);

}

.accordion {
    --bs-accordion-bg: none;
}
.accordion-item {
    --bs-accordion-bg: #ffffff73 !important;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: black;
    --bs-accordion-active-bg: #ffb36b6b;
    backdrop-filter: blur(5px);
    color: black;
}

.accordion-header {
    --bs-accordion-bg: none;
}

.accordion-collapse {
    background: white;
}

.tituloObjetoPrinc {
    text-align: center;
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #ffb26b;
    backdrop-filter: blur(5px);
}

.footerClase {
    width: 90%;
    height: 75%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* flex-wrap: wrap; */
}

.logo {
    height: 100%;
    position: relative;
}

.contacto, .redes {
    padding-left: 0;
    margin: 0;
    height: 100%;
}

.contacto li {
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
}

.contacto li a {
    text-decoration: none;
    color: white;
}


.redes li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}

.redes li a{
    text-decoration: none;
}

.redes li img {
    height: 50%;
}

.negrita {
    font-weight: bold;
    color: #ffb26b;
}

.citaNombre {
    color: #ffb26b;
}

.copyText {
    color: white;
    text-align: center;
}

#imagenPogacar,
#imagenVanAert,
#imagenEvenepoel {
    width: 33%;
    display: inline;
}

#rankingCOL {
    padding-right: 20px;
    padding-left: 20px;
}

.imagenCompetencia {
    height: 800px;
}

.imagenAguapa {
    height: 200px;
    display: block;
}


#aguapa {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

.divTiendas {
    display: inline-block;
}

/* GRUPETA */

.gridGrupeta {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(6, 90px);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "descripcionRegistro descripcionRegistro formRegistro formRegistro"
        "descripcionRegistro descripcionRegistro formRegistro formRegistro"
        "descripcionRegistro descripcionRegistro formRegistro formRegistro"
        "galeriaRegistro galeriaRegistro formRegistro formRegistro"
        "galeriaRegistro galeriaRegistro formRegistro formRegistro"
        "galeriaRegistro galeriaRegistro formRegistro formRegistro";
}

.descripcionRegistro {
    grid-area: descripcionRegistro;
}

.galeriaRegistro {
    grid-area: galeriaRegistro;
    overflow: hidden;
}

.formRegistro {
    grid-area: formRegistro;
    width: 70%;
    margin: auto;
}


.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-item, .active {
    display:flex;
    justify-content: center;
    align-items: center;
  }

/* MEDIA Responsive */
@media (max-width: 992px) {
    .headerClase {
        align-items: flex-start;
    }

    .bg-body-tertiary {
        color: white;
        background: #81959531;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border: 1.5px solid rgba(209, 213, 219, 0.3);
        --bs-dropdown-min-width: 0rem;
    }

    .navbar-toggler {
        border: solid white;
    }

    .navbar-toggler.icon {
        background-image: white;
    }



    .imagenLogo {
        width: 150px;
        display: block;
    }
    .textoBanner h3 {
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        color: white;
        width: 80%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footerClase {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .imagenLogo {
        width: 150px;
        display: block;
    }
    .textoBanner h3 {
        font-family: 'Nunito', sans-serif;
        font-size: 19px;
        color: white;
        width: 80%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .textoCita h4 {
        font-size: 17px;
    }

    .acordeon {
        width: 100%;
    }
    /* .redes li img {
        height: 30%;
        display: block;
    }
    .contacto li a {
        display: block;
    } */
}

@media (max-width: 375px) {
    .imagenLogo {
        width: 120px;
        display: block;
    }
    .textoBanner h3 {
        font-family: 'Nunito', sans-serif;
        font-size: 19px;
        color: white;
        width: 80%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .textoCita h4 {
        font-size: 17px;
    }

    .listaMenu li a, .contacto li a {
        font-size: 12px;
}

}