@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Nunito:wght@700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: 'Nunito', sans-serif; */
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
}

/* varios usados en distintas secciones*/
.negrita {
  font-weight: bold;
  color: #ffb26b;
}

.citaNombre {
  color: #ffb26b;
}

.copyText {
  color: white;
  text-align: center;
}

.transparencia {
  width: 70%;
  margin: 30px auto;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.0666666667);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.tituloTxt {
  color: white;
  -webkit-text-stroke: 2px #ffb26b;
}
.tituloTxt h1 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin: 30px;
}
@media (max-width: 768px) {
  .tituloTxt h1 {
    font-size: 40px;
  }
}
@media (max-width: 375px) {
  .tituloTxt h1 {
    font-size: 28px;
  }
}

.subtituloTxt {
  color: white;
  text-align: center;
}
@media (max-width: 768px) {
  .subtituloTxt h2 {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .subtituloTxt h2 {
    font-size: 17px;
  }
}

.hidden {
  display: none;
}

.subtituloTxt {
  color: white;
  text-align: center;
}

header {
  background-color: #363946;
  height: 130px;
  background: linear-gradient(to bottom, #363946 90%, #1f1f1f);
}

.headerClase {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.headerClase .bg-body-tertiary {
  background: rgba(255, 255, 255, 0) !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 0px;
}
@media (max-width: 991px) {
  .headerClase .bg-body-tertiary {
    color: white;
    background: rgba(129, 149, 149, 0.1921568627);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    --bs-dropdown-min-width: 0rem;
  }
}
.headerClase .navbar {
  text-align: right;
}
.headerClase .navbar .container-fluid {
  flex-direction: row-reverse;
}
.headerClase .imagenLogo {
  width: 200px;
  display: block;
}
@media (max-width: 991px) {
  .headerClase .imagenLogo {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .headerClase .imagenLogo {
    width: 150px;
  }
}
@media (max-width: 375px) {
  .headerClase .imagenLogo {
    width: 120px;
  }
}
.headerClase .listaMenu {
  display: flex;
  gap: 25px;
}
.headerClase .listaMenu .headerMenu {
  list-style: none;
  display: inline;
}
.headerClase .listaMenu .headerMenu a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
}
@media (max-width: 375px) {
  .headerClase .listaMenu .headerMenu a {
    font-size: 12px;
  }
}
.headerClase .listaMenu:hover li a {
  color: #ffb26b;
  border-bottom: 1px solid #ffb26b;
  transition: 0.5s ease-in-out;
}
.headerClase .listaMenu:hover li a:not(:hover) {
  color: white;
  opacity: 0.7;
  filter: blur(0.5px);
  background: none;
  border-bottom: none;
}

@media (max-width: 991px) {
  .navbar-toggler {
    border: solid white;
  }
}

@media (max-width: 991px) {
  .navbar-toggler.icon {
    background-image: white;
  }
}

body {
  background-color: #696773;
  min-height: 100%;
}

footer {
  background-color: #363946;
  margin-top: auto;
  height: 110px;
  background: linear-gradient(to top, #363946 90%, #1f1f1f);
  position: relative;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  footer {
    height: 140px;
  }
}

.footerClase {
  width: 100%;
  height: 75%;
  margin: auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
@media (max-width: 991px) {
  .footerClase {
    flex-wrap: wrap;
    align-items: center;
  }
}
.footerClase .claseIcono {
  height: 100%;
}
@media (max-width: 991px) {
  .footerClase .claseIcono {
    display: none;
  }
}
.footerClase .claseIcono .icono {
  height: 100%;
}

.logo {
  height: 100%;
  position: relative;
}

.contacto {
  padding-left: 0;
  margin: 0;
  height: 100%;
}
@media (max-width: 768px) {
  .contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.contacto li {
  display: inline;
  padding-right: 20px;
  padding-left: 20px;
}
.contacto li a {
  text-decoration: none;
  color: white;
}
@media (max-width: 768px) {
  .contacto li a {
    display: flex;
  }
}
@media (max-width: 375px) {
  .contacto li a {
    font-size: 12px;
  }
}

.redes {
  padding-left: 0;
  margin: 0;
  height: 100%;
}
@media (max-width: 991px) {
  .redes {
    display: flex;
    height: 50%;
  }
}
.redes li {
  display: inline;
  padding-right: 5px;
  padding-left: 5px;
}
.redes li a {
  text-decoration: none;
}
.redes li img {
  height: 50%;
}
@media (max-width: 991px) {
  .redes li img {
    height: 100%;
  }
}
@media (max-width: 768px) {
  .redes li img {
    height: 80%;
  }
}
@media (max-width: 375px) {
  .redes li img {
    height: 60%;
  }
}

.mainIntro {
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: black;
}
.mainIntro .cuadroImagen {
  display: flex;
  height: 500px;
  overflow: hidden;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.mainIntro .cuadroImagen .imagenBanner {
  filter: opacity(45%);
  width: 100%;
}
.mainIntro .textoBanner h1 {
  font-family: "Nunito", sans-serif;
  font-size: 26px;
  color: white;
  width: 80%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 991px) {
  .mainIntro .textoBanner h1 {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .mainIntro .textoBanner h1 {
    font-size: 19px;
  }
}
.mainIntro .textoCita {
  color: white;
  width: 60%;
  position: absolute;
  text-align: right;
  font-style: italic;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainIntro .textoCita h2 {
  font-size: 22px;
}
@media (max-width: 768px) {
  .mainIntro .textoCita h2 {
    font-size: 17px;
  }
}

.acordeon {
  width: 70%;
  margin: 30px auto;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.0666666667);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}
@media (max-width: 768px) {
  .acordeon {
    width: 100%;
  }
}
.acordeon h3 {
  text-align: center;
  padding: 0 0 15px;
}
.acordeon .accordion {
  --bs-accordion-bg: none;
}
.acordeon .accordion .tituloObjetoPrinc {
  text-align: center;
  color: black;
  padding-top: 7px;
  padding-bottom: 7px;
  background: #ffb26b;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.acordeon .accordion .accordion-item {
  --bs-accordion-bg: #ffffff73 !important;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: #ffb36b6b;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: black;
}
.acordeon .accordion .accordion-item .accordion-header {
  --bs-accordion-bg: none;
}
.acordeon .accordion .accordion-item .accordion-collapse {
  background: white;
}

.grupetaForm {
  width: 90%;
  margin: auto;
  padding: 0% 2% 3% 2%;
}
.grupetaForm .gridGrupeta {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 300px repeat(2, 100px) repeat(2, 200px);
  gap: 0px 0px;
  overflow: hidden;
  grid-auto-flow: row;
  grid-template-areas: "tituloForm tituloForm tituloForm tituloForm" "descripcionRegistro descripcionRegistro formRegistro formRegistro" "descripcionRegistro descripcionRegistro formRegistro formRegistro" "galeriaRegistro galeriaRegistro formRegistro formRegistro" "galeriaRegistro galeriaRegistro formRegistro formRegistro";
}
@media (max-width: 1162px) {
  .grupetaForm .gridGrupeta {
    grid-template-rows: 280px 170px 400px repeat(2, 270px);
    grid-template-areas: "tituloForm tituloForm tituloForm tituloForm" "descripcionRegistro descripcionRegistro descripcionRegistro descripcionRegistro" "galeriaRegistro galeriaRegistro galeriaRegistro galeriaRegistro" "formRegistro formRegistro formRegistro formRegistro" "formRegistro formRegistro formRegistro formRegistro";
  }
}
@media (max-width: 991px) {
  .grupetaForm .gridGrupeta {
    grid-template-rows: 400px 200px 400px repeat(2, 290px);
  }
}
@media (max-width: 768px) {
  .grupetaForm .gridGrupeta {
    grid-template-rows: 230px 250px 300px repeat(2, 470px);
  }
}
@media (max-width: 375px) {
  .grupetaForm .gridGrupeta {
    grid-template-rows: 230px 290px 300px repeat(2, 500px);
  }
}
.grupetaForm .gridGrupeta .tituloForm {
  grid-area: tituloForm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.grupetaForm .gridGrupeta .descripcionRegistro {
  grid-area: descripcionRegistro;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grupetaForm .gridGrupeta .descripcionRegistro .descripTexto {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
@media (max-width: 991px) {
  .grupetaForm .gridGrupeta .descripcionRegistro .descripTexto {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  .grupetaForm .gridGrupeta .descripcionRegistro .descripTexto {
    font-size: 12px;
  }
}
.grupetaForm .gridGrupeta .galeriaRegistro {
  grid-area: galeriaRegistro;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 18px 0px 23px 1px rgba(0, 0, 0, 0.75);
}
.grupetaForm .gridGrupeta .galeriaRegistro .carousel,
.grupetaForm .gridGrupeta .galeriaRegistro .carousel-inner,
.grupetaForm .gridGrupeta .galeriaRegistro .carousel-item,
.grupetaForm .gridGrupeta .galeriaRegistro .carruselCarrera {
  width: 100%;
  height: 100%;
}
.grupetaForm .gridGrupeta .galeriaRegistro .carousel .carousel-item.active img,
.grupetaForm .gridGrupeta .galeriaRegistro .carousel-inner .carousel-item.active img,
.grupetaForm .gridGrupeta .galeriaRegistro .carousel-item .carousel-item.active img,
.grupetaForm .gridGrupeta .galeriaRegistro .carruselCarrera .carousel-item.active img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grupetaForm .gridGrupeta .formRegistro {
  grid-area: formRegistro;
  display: flex;
}
.grupetaForm .gridGrupeta .formRegistro .form {
  width: 80%;
  margin: auto;
  margin-top: auto;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.0666666667);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 0.1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 10px 12px 26px -13px rgb(117, 117, 117);
}
@media (max-width: 991px) {
  .grupetaForm .gridGrupeta .formRegistro .form {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .grupetaForm .gridGrupeta .formRegistro .form {
    width: 100%;
  }
}
.grupetaForm .gridGrupeta .formRegistro .form .botonRegistro {
  display: flex;
  justify-content: center;
}

.internacional .tituloCiclistaInter h2, .nacional .tituloCiclistaInter h2 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin: 30px;
}
@media (max-width: 768px) {
  .internacional .tituloCiclistaInter h2, .nacional .tituloCiclistaInter h2 {
    font-size: 40px;
  }
}
@media (max-width: 375px) {
  .internacional .tituloCiclistaInter h2, .nacional .tituloCiclistaInter h2 {
    font-size: 28px;
  }
}
.internacional .flexImgDetalles, .nacional .flexImgDetalles {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .internacional .flexImgDetalles, .nacional .flexImgDetalles {
    flex-direction: row;
    height: 1700px;
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .internacional .flexImgDetalles, .nacional .flexImgDetalles {
    flex-direction: row;
    height: 3000px;
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 375px) {
  .internacional .flexImgDetalles, .nacional .flexImgDetalles {
    height: 3600px;
  }
}
.internacional .flexImgDetalles .imagenesCiclistas, .nacional .flexImgDetalles .imagenesCiclistas {
  display: flex;
  width: 90%;
  height: 500px;
  overflow: hidden;
  margin: auto;
}
@media (max-width: 991px) {
  .internacional .flexImgDetalles .imagenesCiclistas, .nacional .flexImgDetalles .imagenesCiclistas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
}
.internacional .flexImgDetalles .imagenesCiclistas img, .nacional .flexImgDetalles .imagenesCiclistas img {
  width: 0px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(0.4);
  filter: contrast(80%);
  transition: 0.5s ease-in-out;
}
@media (max-width: 991px) {
  .internacional .flexImgDetalles .imagenesCiclistas img, .nacional .flexImgDetalles .imagenesCiclistas img {
    height: 20%;
    width: 100%;
    flex-grow: 1;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(0.4);
    filter: contrast(80%);
    transition: 0.5s ease-in-out;
  }
}
.internacional .flexImgDetalles .imagenesCiclistas img:hover, .nacional .flexImgDetalles .imagenesCiclistas img:hover {
  width: 100%;
  opacity: 1;
  filter: contrast(120%);
  transform: scale(1.2);
}
@media (max-width: 991px) {
  .internacional .flexImgDetalles .imagenesCiclistas img:hover, .nacional .flexImgDetalles .imagenesCiclistas img:hover {
    height: 20%;
  }
}
.internacional .flexImgDetalles .descripCiclistas, .nacional .flexImgDetalles .descripCiclistas {
  display: flex;
  width: 90%;
  height: 500px;
  overflow: hidden;
  margin: auto;
}
@media (max-width: 1162px) {
  .internacional .flexImgDetalles .descripCiclistas, .nacional .flexImgDetalles .descripCiclistas {
    height: 560px;
  }
}
@media (max-width: 991px) {
  .internacional .flexImgDetalles .descripCiclistas, .nacional .flexImgDetalles .descripCiclistas {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .internacional .flexImgDetalles .descripCiclistas, .nacional .flexImgDetalles .descripCiclistas {
    font-size: 15px;
  }
}
.internacional .flexImgDetalles .descripCiclistas .descripcion, .nacional .flexImgDetalles .descripCiclistas .descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 0;
  height: 100%;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.0666666667);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 0.1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 10px 12px 26px -13px rgb(117, 117, 117);
}
@media (max-width: 991px) {
  .internacional .flexImgDetalles .descripCiclistas .descripcion, .nacional .flexImgDetalles .descripCiclistas .descripcion {
    height: 20%;
    width: 100%;
    flex-grow: 1;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(0.4);
    filter: contrast(80%);
    transition: 0.5s ease-in-out;
  }
}
.internacional .flexImgDetalles .descripCiclistas .descripcion .posicionCiclista1, .nacional .flexImgDetalles .descripCiclistas .descripcion .posicionCiclista1 {
  color: gold;
  text-align: center;
  font-size: 30px;
}
.internacional .flexImgDetalles .descripCiclistas .descripcion .posicionCiclista2, .nacional .flexImgDetalles .descripCiclistas .descripcion .posicionCiclista2 {
  color: silver;
  text-align: center;
  font-size: 30px;
}
.internacional .flexImgDetalles .descripCiclistas .descripcion .posicionCiclista3, .nacional .flexImgDetalles .descripCiclistas .descripcion .posicionCiclista3 {
  color: #CD7F32;
  text-align: center;
  font-size: 30px;
}
.internacional .flexImgDetalles .descripCiclistas .descripcion .posicionCiclista4,
.internacional .flexImgDetalles .descripCiclistas .descripcion .posicionCiclista5, .nacional .flexImgDetalles .descripCiclistas .descripcion .posicionCiclista4,
.nacional .flexImgDetalles .descripCiclistas .descripcion .posicionCiclista5 {
  color: white;
  text-align: center;
  font-size: 30px;
}
.internacional .flexImgDetalles .descripCiclistas .descripcion .nombreCiclista, .nacional .flexImgDetalles .descripCiclistas .descripcion .nombreCiclista {
  color: #ffb26b;
  text-align: center;
  font-size: 25px;
}
.internacional .rankingInter, .nacional .rankingInter {
  padding-top: 50px;
}
.internacional .rankingInter .rankingUCI, .nacional .rankingInter .rankingUCI {
  width: 50%;
  height: 410px;
}
@media (max-width: 768px) {
  .internacional .rankingInter .rankingUCI, .nacional .rankingInter .rankingUCI {
    width: 90%;
    height: 540px;
  }
}

.nacional .rankingCO {
  display: flex;
  flex-direction: column;
}
.nacional .tablaRankingUCICO {
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .nacional .tablaRankingUCICO {
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
  }
}
.nacional .tablaRankingUCICO .table-light {
  --bs-table-bg: #ffffff11;
  color: white;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 0.1px solid rgba(209, 213, 219, 0.3);
}

.tiendas {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding: 50px 0 50px 0;
  justify-content: center;
  align-items: flex-start;
}
.tiendas .cuadroTienda {
  padding: 0px 10px 50px 10px;
}

.competencia {
  display: flex;
  height: 800px;
  width: 90%;
  overflow: hidden;
  margin: auto;
}
.competencia .carousel, .competencia .carousel-inner, .competencia .carousel-item, .competencia .carruselCarrera {
  width: 100%;
  height: 100%;
}
.competencia .carousel .carousel-item.active img, .competencia .carousel-inner .carousel-item.active img, .competencia .carousel-item .carousel-item.active img, .competencia .carruselCarrera .carousel-item.active img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.competencia .carousel-caption {
  display: flex;
  color: white;
  background: rgba(29, 26, 26, 0.6235294118);
  font-weight: bold;
  box-shadow: 18px 0px 23px 1px rgba(0, 0, 0, 0.75);
}
.competencia .carousel-caption h3, .competencia .carousel-caption h4 {
  font-weight: bold;
}

.rankingInter {
  padding-top: 50px;
}
.rankingInter .carreras {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.rankingInter .carreras .cuadroCarrera {
  justify-content: space-evenly;
  width: 18rem;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.0666666667);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin: 0 10px 50px 10px;
  border: 0.1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 10px 12px 26px -13px rgb(117, 117, 117);
  flex-direction: column;
}
.rankingInter .carreras .cuadroCarrera .imagenCarrera {
  width: 90%;
  height: 40%;
  margin: 15px auto;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.rankingInter .carreras .cuadroCarrera .imagenCarrera img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.rankingInter .carreras .cuadroCarrera .descripCarreras {
  display: flex;
  width: 90%;
  height: 50%;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
}
.rankingInter .carreras .cuadroCarrera .descripCarreras .nombreCiclista {
  color: #ffb26b;
  text-align: center;
  font-size: 25px;
}/*# sourceMappingURL=style.css.map */