.mainIntro {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: black;

    .cuadroImagen {
        display: flex;
        height: 500px;
        overflow: hidden;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;

        .imagenBanner {
            filter: opacity(45%);
            width: 100%;
        }
    }

    .textoBanner {
    h1 {
        font-family: 'Nunito', sans-serif;
        font-size: 26px;
        color: white;
        width: 80%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include mq2 {
            font-size: 22px;
        }
        @include mq3 {
            font-size: 19px;
        }
        }
    }
    .textoCita {
        color: white;
        width: 60%;
        position: absolute;
        text-align: right;
        font-style: italic;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
            font-size: 22px;
            @include mq3 {
                font-size: 17px;
            }
        }
    }

}





.acordeon {
    width: 70%;
    margin: 30px auto;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    background: #ffffff11;
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);

    @include mq3 {
        width: 100%;
    }

    h3 {
        text-align: center;
        padding: 0 0 15px;
    }

    .accordion {
        --bs-accordion-bg: none;

        .tituloObjetoPrinc {
            text-align: center;
            color: black;
            padding-top: 7px;
            padding-bottom: 7px;
            background: $textoNaranja;
            backdrop-filter: blur(5px);
        }

        .accordion-item {
            --bs-accordion-bg: #ffffff73 !important;
            --bs-accordion-btn-focus-box-shadow: none;
            --bs-accordion-active-color: black;
            --bs-accordion-active-bg: #ffb36b6b;
            backdrop-filter: blur(5px);
            color: black;

            .accordion-header {
                --bs-accordion-bg: none;
            }

            .accordion-collapse {
                background: white;
            }
            
            

        }
    }


}

.estadoClima {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:white;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .estadoClima-icono {
    // margin-top:13px;
    height: 100%;
  }


